//styling project lead section
.headline-pl{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background: darkseagreen;
}
.project-lead{
    display: flex;
    flex-direction: column;
    align-items: center;
}

//styling back-end section
.headline-be{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background: darkseagreen;
}
.back-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    .blake{
        width: 15%;
    }
}

//styling front end unit 3 section
.headline-fe3{
    display: flex;
    justify-content: center;
    margin-top: 5%; 
    background: darkseagreen;
}
.front-end-3{
    display: flex;
    justify-content: space-around;
    .first-front-end-3{
        display: flex;
        flex-direction: column;
    }
    .second-front-end-3{
        display: flex;
        flex-direction: column
    }
}

//styling front end unit 2 section
.headline-fe2{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background: darkseagreen;
}
.front-end-2{
    display: flex;
    justify-content: space-around;
    .first-front-end-2{
        display: flex;
        flex-direction: column;
        
    }
    .second-front-end-2{
        display: flex;
        flex-direction: column;
    }
}

//styling for web ui section
.headline-web-ui{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background: darkseagreen;
}
.web-ui{
    display: flex;
    justify-content: space-around;
    .first-web-ui{
        display: flex;
        flex-direction: column;
    }
    .second-web-ui{
        display: flex;
        flex-direction: column;
        
    }
    .third-web-ui{
        display: flex;
        flex-direction: column;
    }
}
