
//styling for opening photo and mission statement
.cherry-blossom-photo{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
    @media @mobile{
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }
   
    .opening-photo{
        width: 70%;
        background: darkseagreen;
        @media @mobile{
            margin-left: 10%;
        }
    }
    .cherryBlossoms{
        position: relative;
        top: 10%;
        width: 100%;
        margin-left: 15%;
        
    }
    
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15%;
        margin-right: 5%;
        width: 60%;
        margin-top: 5%;
        @media @mobile{
            width: 100%;
            margin-left: 0%;
        }
        .mission-statement{
            margin-bottom: 5%;
        }
    }
}


//styling for healine after intro
.something{
	display: flex;
	justify-content: center;
    margin-top: 3%;
    border-top: 1px solid darkseagreen;
    border-bottom: 1px solid darkseagreen;
    .why{
        @media @mobile{
            font-size: 1.5rem;
        }
    }
}



//styling for journaling photos
.journaling-photos{
	display: flex;
	justify-content: space-around;
	width: 100%;
    margin-top: 3%;
    padding: 2%;
    background: darkseagreen;
    .computerPlant{
        position: relative;
        bottom: 1rem;
        width: 25%;
        height: 30%;
        right: -1%;
        @media @mobile{
            display: none;
        }
    }
    .smartphone{
        position: relative;
        bottom: -1.5rem;
        width: 25%;
        height: 30%;
        left: -1%;
    }
    .journalBook{
        position: relative;
        width: 30%;
        height: 30%;
        right: 1%;
    }
    .manJournal{
        position: relative;
        top: 2rem;
        width: 20%;
        height: 25%;
        right: 1%;
    }
}


//styling for services list
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    .services-top{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        border-top: 1px solid darkseagreen;
        padding-top: 2%;
    }
    .divider, .divider-two{
        width: 40%;
        @media @mobile{
            width: 30%;
        }
    }
    .services-title{
        font-size: 3rem;
        position: relative;
        
    }
    .listServices{
        padding-top: 1%;
        @media @mobile{
            width: 90%;
        }
    }
    li{
        padding-top: 1%; 
        padding-bottom: 1%;
    }
}

//styling for bottom photos
.photo-collage{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-top: 1px solid darkseagreen;
    @media @mobile{
        display: flex;
        justify-content: space-around;
        padding-top: 0%;
    }
    .camping-photo{
        position: relative;
        width: 20%;
       @media @mobile{
           display: none;
       }
    }
    .yoga-photo{
        position: relative;
        left: -5%;
        top: 4rem;
        width: 30%;
        height: 30%;
        @media @mobile{
            top: 1rem;
        }
    }
    .reading-photo{
        position: relative;
        left: -10%;
        top: 2rem;
        width: 30%;
        height: 30%;
        @media @mobile{
            left: -2%;
            top: .5rem;
        }
    }
    .rock-climbing-photo{
        position: relative;
        left: -10%;
        top: 3rem;
        width: 25%;
        height: 25%;
        @media @mobile{
            left: 0%;
            top: 1.5rem;
        }
    }
}